# Do not put production secrets here.
# GitHub deployment secrets should be configured in:
# GitHub Repository > Settings > Secrets and variables > Actions

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
